<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.thetriangle.client</string>
  <key>ProgramArguments</key>
  <array>
    <string>__HELPER__</string>
    <string>run-supervisor</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/client.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/client.error.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>TRIANGLE_CODEX_POOL_ENABLE</key>
    <string>1</string>
    <key>TRIANGLE_CODEX_POOL_SIZE</key>
    <string>2</string>
    <key>TRIANGLE_DESKTOP_HANDOFF_ENABLE</key>
    <string>1</string>
  </dict>
</dict>
</plist>
